/nbproject/private/
/backend/config/
/backend/www/sahidmontana/assets/
/backend/runtime/
/frontend/web/sahidmontana/assets/
/frontend/runtime/
/sahid/assets/
/dua/assets/
/backend/www/dua/assets/
/backend/www/satu/assets/
/frontend/config/
/satu/assets/
/common/config/