<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <a ui-sref="app.dashboard" class="navbar-brand text-lt">
        <img src="img/logo.png" alt="." style="display: inline">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <button class="pull-right visible-xs" ui-toggle-class="show" data-target=".navbar-collapse" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- link and dropdown -->
    <ul class="nav navbar-nav">
        <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <span>Data Master</span> 
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
                <div class="row">
                    <div class="col-sm-4 b-l b-light" ng-show="user.akses.master_cabang || user.akses.master_customer || user.akses.master_supplier || user.akses.master_pegawai">
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.master_cabang">
                                        <a ui-sref="master.cabang"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Cabang</a>
                                    </li>
                                    <li ng-show="user.akses.master_customer">
                                        <a ui-sref="master.customer"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Customer</a>
                                    </li>
                                    <li ng-show="user.akses.master_supplier">
                                        <a ui-sref="master.supplier"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Supplier</a>
                                    </li>
                                    <li ng-show="user.akses.master_pegawai">
                                        <a ui-sref="master.pegawai"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="m-l-xs m-t-xs m-b-xs font-bold">Inventory</div>
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.master_satuan">
                                        <a ui-sref="master.satuan"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Satuan</a>
                                    </li>
                                    <li ng-show='user.akses.master_kategori'>
                                        <a ui-sref="master.kategori"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Kategori</a>
                                    </li>
                                    <li ng-show='user.akses.master_barang'>
                                        <a ui-sref="master.barang"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Barang</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <div class="m-l-xs m-t-xs m-b-xs font-bold">Pengguna</div>
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show='user.akses.master_user'>
                                        <a ui-sref="master.user"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>User</a>
                                    </li>
                                    <li ng-show='user.akses.master_roles'>
                                        <a ui-sref="master.roles"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Hak Akses</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <span>Transaksi</span> 
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="m-l-xs m-t-xs m-b-xs font-bold">Persediaan</div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.transaksi_stokkeluar">
                                        <a ui-sref='transaksi.stokkeluar'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Barang Keluar</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_stokmasuk">
                                        <a ui-sref='transaksi.stokmasuk'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Barang Masuk</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="m-l-xs m-t-xs m-b-xs font-bold">Pembelian</div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.transaksi_pembelian">
                                        <a ui-sref='transaksi.pembelian'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pembelian</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_bayarhutang">
                                        <a ui-sref='transaksi.bayarhutang'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pembayaran Hutang</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_returpembelian">
                                        <a ui-sref='transaksi.returpembelian'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Retur Pembelian</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="m-l-xs m-t-xs m-b-xs font-bold">Penjualan</div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.transaksi_penjualan">
                                        <a ui-sref="transaksi.penjualan"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Penjualan</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_bayarpiutang">
                                        <a ui-sref="transaksi.bayarpiutang"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pembayaran Piutang</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_returpenjualan">
                                        <a ui-sref="transaksi.returpenjualan"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Retur Penjualan</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </li>
        <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <span>Laporan</span> 
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.laporan_kartustok">
                                        <a ui-sref='laporan.kartustok'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Kartu Stok</a>
                                    </li>
                                    <li ng-show='user.akses.laporan_bonuskaryawan'>
                                        <a ui-sref='laporan.bonuskaryawan'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Bonus Karyawan</a>
                                    </li>
                                    <li ng-show='user.akses.laporan_labarugi'>
                                        <a ui-sref='laporan.labarugi'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Omset</a>
                                    </li>
                                    <li ng-show='user.akses.laporan_kartustatus'>
                                        <a ui-sref='laporan.kartustatus'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Kartu Status</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.laporan_penjualan">
                                        <a ui-sref='laporan.penjualan'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Penjualan</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!-- / link and dropdown -->

    <!-- search form -->
    <form class="navbar-form navbar-form-sm navbar-left shift hidden-sm" id="pencarian">
        <div class="form-group">
            <div class="input-group">
                <ui-select on-select="pencarianDet($item)" ng-model="cari">
                    <ui-select-match placeholder="Pencarian barang...">{{$select.selected.nama}}</ui-select-match>
                    <ui-select-choices refresh="pencarian($select.search)" repeat="val in results">
                        {{val.nama}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </form>
    <!-- / search form -->

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <img src="img/a0.jpg" alt="...">
                    <i class="on md b-white bottom"></i>
                </span>
                <span class="hidden-sm hidden-md">{{user.nama}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="master.userprofile">Update Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="logout()">Logout</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
